:root {
	--light: #A8D5BE;
	--medium-1: #64ABBC;
	--medium-2: #22627B;
	--dark: #003C4A;
	--editor-bg: #23241F;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
  padding-top: 64px;
  color: #555;
}
* {
	outline-color: var(--light);
}
.spacer {
	flex: 1 1 auto;
}